/* common css */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
    
/* common css */
nav{
    background-color: #9b9797;
}

nav ul li{
    display: inline-block;
    position: relative;
}

 nav li a{
    font-size: 20px;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: .5;
    display: inline-block;
    
}
 nav li a:hover{
    background-color: rgb(211, 34, 34);
}
nav ul li ul{
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgb(5, 43, 43);
    width: 300px;
}
nav ul li:hover ul{
  display: block;
}